/* Navbar Styles */
.NavBar {
  background-color: rgba(54, 53, 53, 0.411);
  display: flex;
  width: 100%;
  justify-content: center; /* Center items horizontally */
  box-sizing: border-box; /* Ensure padding and border are included in width */
}

.NavBar ul {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1200px; /* Align with other sections */
  list-style: none;
}

.NavBar li {
  padding: 14px 20px;
  color: white;
  background-color: transparent;
  text-align: center;
  flex: 1;
  list-style: none;
}

.NavBar li:hover {
  color: #575757;
}
